.header .container .header__container {
  width: 100%;
  height: 194px;
  box-sizing: border-box;
  position: relative;
}
.header .container .header__container .header__path {
  width: 236px;
  height: 24px;
  padding-top: 18px;
  padding-left: 17px;
  display: flex;
  justify-content: space-around;
}
.header .container .header__container .header__path img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.header .container .header__container .header__path img:hover {
  filter: brightness(200%);
  transform: scale(1.3);
}
.header .container .header__container .header__path p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #111111;
  margin: 0;
  display: inline;
}
.header .container .header__container .header__path .header__logo--mobile {
  display: none;
}
.header .container .header__container .header__path .header__logo--tablet {
  display: none;
}
.header .container .header__container .header__recommend {
  position: absolute;
  top: 70px;
  left: 54px;
  height: 47px;
  font-family: "Oswald", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 47px;
  text-transform: uppercase;
  color: #000000;
}
.header .container .header__container .header__recommend p {
  display: inline;
}
.header .container .header__container .header__recommend .header__recommend--casinos {
  color: #1e60e1;
  display: inline;
}
.header .container .header__container .header__tab {
  position: absolute;
  top: 147px;
  left: 54px;
  height: 44px;
}
.header .container .header__container .header__tab button {
  height: 44px;
  border: 0;
  border-radius: 6px 6px 0px 0px;
  font-family: "Oswald", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 25px;
  color: #111111;
  background-color: white;
  cursor: pointer;
  margin-right: 6px;
}
.header .container .header__container .header__tab .selected {
  background-color: #1e60e1;
  color: white;
}
.header .container .header__container .header__crossbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #1e60e1;
}
.header .container .header__container .header__language {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 8px;
  right: 34px;
  width: 103px;
  height: 40px;
}
.header .container .header__container .header__language select {
  border: 0;
}

@media (max-width: 769px) and (min-width: 377px) {
  .sidebar {
    z-index: 2;
    width: 40vw;
    height: 100vh;
    overflow-x: scroll;
    position: fixed;
  }
  .sidebar__logo {
    width: 40vw;
    margin: 0 0 0 -16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sidebar__logo img {
    margin: 0;
    width: 30vw;
  }
  .coating {
    position: absolute;
    right: 0;
    height: 100%;
    width: 60vw;
    background-color: black;
    z-index: 3;
    opacity: 0.3;
  }
}
@media (max-width: 376px) {
  .header {
    width: 100vw;
  }
  .header .container {
    width: 100vw;
  }
  .header .container .header__container {
    height: 190px;
  }
  .header .container .header__container .header__path {
    background-color: #0c1245;
    padding: 16px 0 0 12px;
    position: relative;
    width: 100vw;
    height: 56px;
    box-sizing: border-box;
  }
  .header .container .header__container .header__path--open {
    position: absolute;
    top: 16px;
    left: 12px;
    filter: brightness(1000%);
  }
  .header .container .header__container .header__path--url {
    position: absolute;
    top: 69px;
    left: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
  .header .container .header__container .header__path .header__logo--mobile {
    display: block;
    position: absolute;
    left: 55px;
  }
  .header .container .header__container .header__recommend {
    position: absolute;
    top: 100px;
    left: 12px;
    width: 331px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
  }
  .header .container .header__container .header__tab {
    width: 95vw;
    height: auto;
    overflow-x: scroll;
    white-space: nowrap;
    position: absolute;
    bottom: 0;
    left: 12px;
  }
  .header .container .header__container .header__tab button {
    margin-right: 7px;
    height: 100%;
    width: fit-content;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    color: #111111;
    background-color: white;
    cursor: pointer;
  }
  .header .container .header__container .header__tab .selected {
    background-color: #1e60e1;
    color: white;
  }
  .header .container .header__container .header__language {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 8px;
    right: 12px;
    width: 103px;
    height: 40px;
  }
  .header .container .header__container .header__language select {
    color: white;
    background-color: #0c1245;
    border: 0;
  }
  .header .container .header__container .header__language .search {
    filter: brightness(100000%);
  }
}

/*# sourceMappingURL=header.component.css.map */
