footer .footer {
  padding: 56px 54px 0 54px;
}
footer .footer-container .footer__crossbar {
  width: 100%;
  height: 3px;
  background: #bbbbbb;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.05);
}
footer .footer-container .footer__more {
  display: none;
}
footer .footer-container .footer__crossbar--hidden {
  display: none;
}
footer .footer-container .footer__box {
  margin-top: 46px;
  display: flex;
  justify-content: space-between;
  gap: 61px;
}
footer .footer-container .footer__box--left {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
footer .footer-container .footer__box--left ul {
  display: flex;
  gap: 25px;
  list-style: none;
  padding: 0;
}
footer .footer-container .footer__box--left ul li {
  border-left: 5px solid #cccccc;
  padding-left: 15px;
}
footer .footer-container .footer__box--left ul #contact {
  border: 0;
  padding: 0;
}
footer .footer-container .footer__box--left ul .box__left--selected {
  color: #1e60e1;
}
footer .footer-container .footer__box--left .box__left--content {
  margin-top: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #999999;
}
footer .footer-container .footer__crossbar--hidden {
  display: none;
}
footer .footer-container .footer__box--hidden {
  display: none;
}

@media (max-width: 769px) and (min-width: 377px) {
  footer .footer {
    padding: 56px 28px 0 28px;
  }
  footer .footer-container .footer__box {
    flex-direction: column;
    position: relative;
  }
  footer .footer-container .footer__box--left {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
  footer .footer-container .footer__box--left ul {
    display: flex;
    gap: 25px;
    list-style: none;
    padding: 0;
  }
  footer .footer-container .footer__box--left ul li {
    border-left: 5px solid #cccccc;
    padding-left: 15px;
  }
  footer .footer-container .footer__box--left ul #contact {
    border: 0;
    padding: 0;
  }
  footer .footer-container .footer__box--left ul .box__left--selected {
    color: #1e60e1;
  }
  footer .footer-container .footer__box--left .box__left--content {
    padding-top: 100px;
    margin-top: 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #999999;
  }
  footer .footer-container .footer__box--right {
    position: absolute;
    bottom: 90px;
  }
  footer .footer-container .footer__crossbar--hidden {
    display: none;
  }
  footer .footer-container .footer__box--hidden {
    display: none;
  }
}
@media (max-width: 376px) {
  footer .footer {
    padding: 42px 0 0 0;
  }
  footer .footer-container .footer__crossbar {
    width: 100%;
    height: 3px;
    background: #bbbbbb;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.05);
  }
  footer .footer-container .footer__more {
    width: 79px;
    height: 31px;
    display: flex;
    margin: 20px auto;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
  }
  footer .footer-container .footer__more p {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
  }
  footer .footer-container .footer__box {
    display: none;
  }
  footer .footer-container .footer__crossbar--hidden {
    display: block;
  }
  footer .footer-container .footer__box--hidden {
    display: block;
  }
  footer .footer-container .footer__box--hidden .footer__box-container {
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  footer .footer-container .footer__box--hidden .footer__box-container img {
    width: 16px;
    height: 16px;
  }
  footer .footer-container .footer__box--hidden .footer__box-container .filter,
  footer .footer-container .footer__box--hidden .footer__box-container .sort {
    display: flex;
    align-items: center;
    gap: 3px;
  }
}

/*# sourceMappingURL=footer.component.css.map */
