<footer>
  <div class="footer">
    <div class="footer-container">
      <div class="footer__crossbar"></div>
      <div class="footer__more">
        <p>MORE</p>
        <img src="../assets/img/footer/down-arrow.png" alt="" />
      </div>
      <div class="footer__crossbar footer__crossbar--hidden"></div>
      <div class="footer__box">
        <div class="footer__box--left">
          <ul>
            <li class="box__left--selected" id="contact">Contact Us</li>
            <li>About Us</li>
            <li>Privacy</li>
            <li>Terms</li>
            <li>Fair Gaming</li>
          </ul>
          <div class="box__left--content">
            <p>
              DISCLAIMER: Online Wagering is illegal in some Jurisdictions. It
              is your responsibility to check your local regulations before
              playing online. PlayUnited.com takes no responsibility for your
              actions. PlayUnited.com 2019 All rights reserved.
            </p>
          </div>
        </div>
        <div class="footer__box--right">
          <div class="img">
            <img src="../assets/img/footer/img1.png" alt="" />
          </div>
        </div>
      </div>
      <div class="footer__box--hidden">
        <div class="footer__box-container">
          <div class="filter">
            <img src="../assets/img/footer/preferences-circle.png" alt="" />
            <p>Filter (2)</p>
          </div>
          <p>|</p>
          <div class="sort">
            <img src="../assets/img/footer/funnel.png" alt="" />
            <p>Sort</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
