<section class="infor">
  <div class="container">
    <div class="infor__box">
      <div
        class="infor__box--left"
        id="infor__box--left"
        #inForBoxLeft
        (scroll)="scrollInfor(inForBoxLeft)"
      >
        <section class="top">
          <p>
            This list of online casinos is our best guess for casinos that will
            best suit your needs. The top positions are reserved for secure
            casinos with a perfect reputation, lots of players and a low ratio
            of unfairly resolved complaints.
          </p>
          <p>
            If you have more specific needs, feel free to use the tabs with
            various casino options and our advanced filters.
          </p>
        </section>
        <section class="choose">
          <div class="choose__title" id="choose-title" #elChoose>
            <p class="p-size26">
              How to choose a good, secure and honest online casino
            </p>
            <img
              src="../assets/img/infor/down-arrow.png"
              alt=""
              id="choose-img"
              (click)="hiddenContent($event)"
              [ngStyle]="{
                transform: content.choose ? 'rotate(0deg)' : 'rotate(180deg)'
              }"
            />
          </div>
          <div
            id="choose__content"
            [ngClass]="content.choose ? 'hidden-content' : ''"
          >
            <p>
              Choosing a good online casino which meets all your requirements is
              not as easy as it sounds.To make your life easier we have created
              a short list of criteria you should always consider:
            </p>
            <ul>
              <li>The casino accepts players from your country</li>
              <li>
                Good casino reputation (evaluated by our casino review team -
                pick casinos with GOOD and PERFECT ratings)
              </li>
              <li>License from a respected regulator</li>
              <li>
                Reasonably high revenues compared to your highest possible wins
              </li>
              <li>
                High-enough withdrawal limits (compared to your highest possible
                wins)
              </li>
              <li>
                A selection of your favorite games (use the Game Provider filter
                on the right)
              </li>
              <li>
                Customer support and website localized in your native language
              </li>
              <li>Fast and helpful customer support</li>
              <li>Attractive and fair bonuses</li>
              <li>
                Suitable deposit and withdrawal options (use the Payment Method
                filter on the right)
              </li>
              <li>Intuitive and nice website</li>
              <li>Support for mobile devices</li>
            </ul>
            <p>
              If you are interested in the details, you can check out our
              article "How to choose an online casino?".
            </p>
          </div>
        </section>
        <section class="criteria">
          <div class="criteria__title" id="criteria-title" #elCriteria>
            <p class="p-size26">
              The criteria used for calculating our online casino ratings
            </p>
            <img
              src="../assets/img/infor/down-arrow.png"
              alt=""
              id="criteria-img"
              (click)="hiddenContent($event)"
              [ngStyle]="{
                transform: content.criteria ? 'rotate(0deg)' : 'rotate(180deg)'
              }"
            />
          </div>
          <div
            id="criteria__content"
            [ngClass]="content.criteria ? 'hidden-content' : ''"
          >
            <p>
              Soon after we started Casino.Guru as a project, we realized that
              we needed to rate online casinos based on objective criteria.
              Trying the casino on our own isn’t enough to get a representative
              experience, and we would have to win huge amounts in every casino
              we reviewed to prove that they pay out on big winnings. That is
              just not possible.
            </p>
            <p>
              That’s why our reviews are based on the experience of other
              players, sourced from rigorous research of various forums,
              mediation websites and other sources. It’s not an easy task to
              judge who was right in the case of complaints which remain
              unresolved. But in the end, we usually get an impression of how
              the casino treats its players.
            </p>
            <p>
              My basic formula for the casino reputation rating considers the:
            </p>
            <ul>
              <li>
                Number of complaints where we think the casino wasn't acting
                fair
              </li>
              <li>Amount of money involved in these cases</li>
              <li>
                Number of casino visitors, its estimated revenues and how long
                the casino operates
              </li>
            </ul>
          </div>
        </section>
        <section class="writing">
          <div class="writing__title" id="writing-title">
            <p class="p-size26">
              Writing honest casino reviews takes a lot of time
            </p>
            <img
              src="../assets/img/infor/down-arrow.png"
              id="writing-img"
              (click)="hiddenContent($event)"
              [ngStyle]="{
                transform: content.writing ? 'rotate(0deg)' : 'rotate(180deg)'
              }"
              alt=""
            />
          </div>
          <div
            id="writing__content"
            [ngClass]="content.writing ? 'hidden-content' : ''"
          >
            <p>
              Yes, it does. For casinos with a long track record it can take up
              to 20 hours. Our independent casino review team members read
              everything they are able to find on the internet. They read all
              forums, mediation websites or reviews posted by real users.
            </p>
            <p>
              We are trying to save your time. Any case that falls foul of our
              fair gambling codex is summarized in our casino review.
            </p>
          </div>
        </section>
        <section class="sort">
          <div class="sort__title" id="sort-title" #elSort>
            <p class="p-size26">
              How we sort the casinos using our recommendation system
            </p>
            <img
              src="../assets/img/infor/down-arrow.png"
              alt=""
              id="sort-img"
              (click)="hiddenContent($event)"
              [ngStyle]="{
                transform: content.sort ? 'rotate(0deg)' : 'rotate(180deg)'
              }"
            />
          </div>
          <div
            id="sort__content"
            [ngClass]="content.sort ? 'hidden-content' : ''"
          >
            <p>
              The list of casinos you can see here is our best guess for casinos
              which may suit your needs and preferences.
            </p>
            <p>
              At first, we intentionally omit casinos which don’t accept players
              from your country. It makes no sense to point you to them, right?
            </p>
            <p>
              Secondly, we display casinos which we know are a great fit for a
              certain country in the top positions.
            </p>
            <p>
              Thirdly, we prefer casinos which are localized to your native
              language or offer customer support in that language. Communication
              in a native language is, for many players, a more comfortable
              experience, and if a casino is localized, it will more likely
              understand the specific needs of players from your country.
            </p>
            <p>
              However, the localization ranking is already mixed with the
              reputation ranking. So we display higher non-localized casinos
              with PERFECT reputation over localized casinos with a BAD
              track-record.
            </p>
            <p>
              On top of that, we use various other minor ranking criteria. But
              ultimately, if you want to find the best casino for you as quickly
              as possible, the easiest way is to use the filters on the right
              and filter the casinos based on your own criteria.
            </p>

            <div class="sort__content--note">
              <div class="container">
                <img src="../assets/img/infor/single-content-02.png" alt="" />
                <div class="note__content">
                  <p>
                    Note: If we haven't guessed your country or your native
                    language correctly, you can change them by clicking on the
                    flag in the top left corner in the main menu.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="find">
          <div class="find__title" id="find-title" #elFind>
            <p class="p-size26">How to find the best casino for your country</p>
            <img
              src="../assets/img/infor/down-arrow.png"
              alt=""
              id="find-img"
              (click)="hiddenContent($event)"
              [ngStyle]="{
                transform: content.find ? 'rotate(0deg)' : 'rotate(180deg)'
              }"
            />
          </div>
          <div
            id="find__content"
            [ngClass]="content.find ? 'hidden-content' : ''"
          >
            <p>
              As already mentioned above, the casino list you can see on this
              page is already localized for your country, based on the IP
              address from which you are accessing our website. If you want to
              view online casinos that accept players from another country, you
              can use the "For Players from" filter to select the desired
              country.
            </p>
            <p>
              We put a lot of effort into having our casino database up to date,
              including the countries from which each casino accepts players.
              That said, there are also websites specialized in individual
              countries, on which you can find country-specific lists of
              casinos. You can find some of them below.
            </p>
            <strong>United Kingdom</strong>
            <p class="p">
              Players from the United Kingdom can choose from a big number of
              great casinos, with one of the best gambling licensing authorities
              (UK Gambling Commission) governs all gambling activities in the
              country. You can check out our list of UK online casinos, or
              dedicated websites like kingcasinobonus.co.uk which specializes in
              casino bonuses for UK players, but also has a list of best casinos
              for players from the UK.
            </p>
            <strong>Italy</strong>
            <p>
              Gambling in Italy is legal and regulated from 2011, when a new
              gambling law has been introduced. Italian players can browse
              online casinos and casino bonuses right here on Casino Guru,
              either in English, or by visiting the version of our website
              localised for the Italian market available at casinoguru-it.com.
            </p>
            <strong>Greece</strong>
            <p>
              The Greek gambling market is strongly influenced by the country's
              intention to keep the state-run OPAP a monopoly, which, however,
              violates EU laws. Greece's gambling laws are being amended and
              it's expected that other online casinos will be able to get
              official Greek licenses again. Greek players can find relevant
              online casinos on gr.casino.guru.
            </p>
            <strong>Czech Republic</strong>
            <p>
              Czech Republic has introduced a new Gambling Act back in 2017,
              which governs all online gambling operators who wish to legally
              target Czech players. Players from Czech Republic can find
              relevant online casinos on the Czech version on Casino Guru
              available at kasinoguru-cz.com.
            </p>
          </div>
        </section>
        <section class="filters">
          <div class="filters__title" id="filters-title" #elFilters>
            <p class="p-size26">
              Filters you can use to find the right casino faster
            </p>
            <img
              src="../assets/img/infor/down-arrow.png"
              alt=""
              id="filters-img"
              (click)="hiddenContent($event)"
              [ngStyle]="{
                transform: content.filters ? 'rotate(0deg)' : 'rotate(180deg)'
              }"
            />
          </div>
          <div
            id="filters__content"
            [ngClass]="content.filters ? 'hidden-content' : ''"
          >
            <p>
              The filtering options are one of the technically strongest
              features of the Casino Guru website. It took a lot of effort to
              design and implement them. They are our gift for the advanced
              users who know what they are searching for and for those who want
              to get the most relevant results as quickly as possible.
            </p>
            <div class="filters__content--checked">
              <div class="content__checked--item">
                <img src="../assets/img/infor/checked.png" alt="" />
                <p>
                  <strong>For players from</strong>- Display only the casinos
                  that accept players from one of the selected countries
                </p>
              </div>
              <div class="content__checked--item">
                <img src="../assets/img/infor/checked.png" alt="" />
                <p>
                  <strong>Casino Games</strong>- Filter the casinos that have
                  one of the selected casino games
                </p>
              </div>
              <div class="content__checked--item">
                <img src="../assets/img/infor/checked.png" alt="" />
                <p>
                  <strong>Game provider</strong>- The casinos that have games
                  from at least one of selected game providers
                </p>
              </div>
              <div class="content__checked--item">
                <img src="../assets/img/infor/checked.png" alt="" />
                <p>
                  <strong>Payment method </strong>- The casinos that offer
                  deposits or withdrawals with at least one of selected payment
                  providers
                </p>
              </div>
              <div class="content__checked--item">
                <img src="../assets/img/infor/checked.png" alt="" />
                <p>
                  <strong>Licensing authority</strong>- Pick only the casinos
                  that operate under a certain license
                </p>
              </div>
              <div class="content__checked--item">
                <img src="../assets/img/infor/checked.png" alt="" />
                <p>
                  <strong>Safe amount to win</strong>- Use this filter to get
                  financially strong casinos with lots of players
                </p>
              </div>
              <div class="content__checked--item">
                <img src="../assets/img/infor/checked.png" alt="" />
                <p>
                  <strong>Withdrawal limit</strong>- If you plan to win big,
                  you’ll need a high withdrawal limit to cash out your win
                  quickly and without any issues
                </p>
              </div>
              <div class="content__checked--item">
                <img src="../assets/img/infor/checked.png" alt="" />
                <p>
                  <strong>Currency</strong>- This filter is for you if you
                  prefer to play in your local currency
                </p>
              </div>
              <div class="content__checked--item">
                <img src="../assets/img/infor/checked.png" alt="" />
                <p>
                  <strong>Mobile Devices</strong>- Find casinos which support
                  players with smartphones and tablets
                </p>
              </div>
              <div class="content__checked--item">
                <img src="../assets/img/infor/checked.png" alt="" />
                <p>
                  <strong>Website language</strong>- The casinos with a
                  localized website
                </p>
              </div>
              <div class="content__checked--item">
                <img src="../assets/img/infor/checked.png" alt="" />
                <p>
                  <strong>Customer support language</strong>- The casinos that
                  are able to at least react to support questions in your native
                  language
                </p>
              </div>
              <div class="content__checked--item">
                <img src="../assets/img/infor/checked.png" alt="" />
                <p>
                  <strong>Live chat language</strong>- Find the casinos that
                  have a live chat in your native language (which is the most
                  convenient way to solve any problems or questions)
                </p>
              </div>
            </div>
            <div class="filters__content--table">
              <div class="table-container">
                <table>
                  <thead>
                    <tr>
                      <th class="th1">Good behavior</th>
                      <th class="th2">Points</th>
                      <th class="th3">Spent</th>
                    </tr>
                  </thead>
                  <tr>
                    <td>Complete a side-project</td>
                    <td>+1</td>
                    <td><span class="spent">1.248.4000</span></td>
                  </tr>
                  <tr>
                    <td>Report a useful feedback (upon your verification)</td>
                    <td>+2</td>
                    <td class="spent">952.541</td>
                  </tr>
                  <tr>
                    <td>Report an illegal download source (upon your mind)</td>
                    <td>+3</td>
                    <td><span class="spent">11.396.302</span></td>
                  </tr>
                  <tr>
                    <td>Share your experience</td>
                    <td>+1</td>
                    <td class="spent">89.393</td>
                  </tr>
                  <tr>
                    <td>Deploy a design system</td>
                    <td>+1</td>
                    <td><span class="spent">16.719</span></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </section>
        <section class="faq">
          <div class="faq-container">
            <div class="faq__title" id="faq-title">
              <p class="p-size26">FAQ - Frequently Asked Questions & Answers</p>
              <img
                src="../assets/img/infor/down-arrow.png"
                alt=""
                id="faq-img"
                (click)="hiddenContent($event)"
                [ngStyle]="{
                  transform: content.faq ? 'rotate(0deg)' : 'rotate(180deg)'
                }"
              />
            </div>
            <div
              id="faq__content"
              [ngClass]="content.faq ? 'hidden-content' : ''"
            >
              <p>
                As already mentioned above, the casino list you can see on this
                page is already localized for your country, based on the IP
                address from which you are accessing our website. If you want to
                view online casinos that accept players from another country,
                you can use the "For Players from" filter to select the desired
                country.
              </p>
            </div>
            <div class="faq__table">
              <table class="faq__table--safe">
                <thead>
                  <tr>
                    <th>
                      <p>How do I know the sites I am gambling at are safe?</p>
                      <img
                        id="safe"
                        (click)="answer.safe = !answer.safe"
                        src="{{
                          answer.safe
                            ? '../assets/img/infor/minus.png'
                            : '../assets/img/infor/plus.png'
                        }}"
                        alt=""
                      />
                    </th>
                  </tr>
                </thead>
                <tbody
                  id="safe-tbody"
                  [ngClass]="answer.safe ? '' : 'answer-hidden'"
                >
                  <tr>
                    <td>
                      <p>
                        As already mentioned above, the casino list you can see
                        on this page is already localized for your country,
                        based on the IP address from which you are accessing our
                        website. If you want to view online casinos that accept
                        players from another country, you can use the "For
                        Players from" filter to select the desired country.
                      </p>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table class="faq__table--deposit">
                <thead>
                  <tr>
                    <th>
                      <p>
                        What are my options when making an online casino
                        deposit?
                      </p>
                      <img
                        id="deposit"
                        (click)="answer.deposit = !answer.deposit"
                        src="{{
                          answer.deposit
                            ? '../assets/img/infor/minus.png'
                            : '../assets/img/infor/plus.png'
                        }}"
                        alt=""
                      />
                    </th>
                  </tr>
                </thead>
                <tbody
                  id="deposit-tbody"
                  [ngClass]="answer.deposit ? '' : 'answer-hidden'"
                >
                  <tr>
                    <td>
                      <p>
                        As already mentioned above, the casino list you can see
                        on this page is already localized for your country,
                        based on the IP address from which you are accessing our
                        website. If you want to view online casinos that accept
                        players from another country, you can use the "For
                        Players from" filter to select the desired country.
                      </p>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table class="faq__table--bonus">
                <thead>
                  <tr>
                    <th>
                      <p>How do I claim my welcome bonus?</p>
                      <img
                        id="bonus"
                        (click)="answer.bonus = !answer.bonus"
                        src="{{
                          answer.bonus
                            ? '../assets/img/infor/minus.png'
                            : '../assets/img/infor/plus.png'
                        }}"
                        alt=""
                      />
                    </th>
                  </tr>
                </thead>
                <tbody
                  id="bonus-tbody"
                  [ngClass]="answer.bonus ? '' : 'answer-hidden'"
                >
                  <tr>
                    <td>
                      <p>
                        As already mentioned above, the casino list you can see
                        on this page is already localized for your country,
                        based on the IP address from which you are accessing our
                        website. If you want to view online casinos that accept
                        players from another country, you can use the "For
                        Players from" filter to select the desired country.
                      </p>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table class="faq__table--tax">
                <thead>
                  <tr>
                    <th>
                      <p>Do I need to pay tax on my winnings?</p>
                      <img
                        id="tax"
                        (click)="answer.tax = !answer.tax"
                        src="{{
                          answer.tax
                            ? '../assets/img/infor/minus.png'
                            : '../assets/img/infor/plus.png'
                        }}"
                        alt=""
                      />
                    </th>
                  </tr>
                </thead>
                <tbody
                  id="tax-tbody"
                  [ngClass]="answer.tax ? '' : 'answer-hidden'"
                >
                  <tr>
                    <td>
                      <p>
                        As already mentioned above, the casino list you can see
                        on this page is already localized for your country,
                        based on the IP address from which you are accessing our
                        website. If you want to view online casinos that accept
                        players from another country, you can use the "For
                        Players from" filter to select the desired country.
                      </p>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table class="faq__table--free">
                <thead>
                  <tr>
                    <th>
                      <p>Can I play free games online?</p>
                      <img
                        id="free"
                        (click)="answer.free = !answer.free"
                        src="{{
                          answer.free
                            ? '../assets/img/infor/minus.png'
                            : '../assets/img/infor/plus.png'
                        }}"
                        alt=""
                      />
                    </th>
                  </tr>
                </thead>
                <tbody
                  id="free-tbody"
                  [ngClass]="answer.free ? '' : 'answer-hidden'"
                >
                  <tr>
                    <td>
                      <p>
                        As already mentioned above, the casino list you can see
                        on this page is already localized for your country,
                        based on the IP address from which you are accessing our
                        website. If you want to view online casinos that accept
                        players from another country, you can use the "For
                        Players from" filter to select the desired country.
                      </p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>
      </div>
      <div class="infor__box--right">
        <div class="box__right--container">
          <p
            id="choose-title-r"
            class="selected"
            (click)="selectTo(elChoose)"
            #elChooseR
          >
            1. How to choose a casino
          </p>
          <p
            id="criteria-title-r"
            class=""
            (click)="selectTo(elCriteria)"
            #elCriteriaR
          >
            2. Criteria used in our ratings
          </p>
          <p id="sort-title-r" class="" (click)="selectTo(elSort)" #elSortR>
            3. How we sort casinos
          </p>
          <p id="find-title-r" class="" (click)="selectTo(elFind)" #elFindR>
            4. Casinos for specific countries
          </p>
          <p
            id="filters-title-r"
            class=""
            (click)="selectTo(elFilters)"
            #elFiltersR
          >
            5. Advanced casino filters
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
